<% provide(:title, @taxon.name) %>
<%= render partial: 'page_title', locals: { taxon: @taxon } %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render partial: 'potepan/shared/categories_sidebar', locals: { taxonomies: @taxonomies } %>
        <%= render 'potepan/shared/color_sidebar' %>
        <%= render 'potepan/shared/size_sidebar' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'potepan/shared/filter' %>
        <div class="row">
          <%= render partial: 'potepan/shared/product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/shared/partners_logo_slider' %>
